body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

#taskInput {
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin: 10px 0;
}

#add-btn {
    background-color: #4193f8;
    border-radius: 10px;
    color: white;
    border: none;
    padding: 10px;
    font-weight: bold;
}

#add-btn:hover {
    background-color: #0976fa;
}

.btn-group {
    display: flex;
    align-items: center;
    margin-left: 22%;
}

#all {
    background-color: #4193f8;
    border: 2px solid #4193f8;
    color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 5rem;
    height: 2rem;
}

#todo {
    border: 2px solid #4193f8;
    color: #4193f8;
    background-color: white;
    border-left: 0px;
    width: 5rem;
    height: 2rem;
}

#done {
    background-color: white;
    color: #4193f8;
    border: 2px solid #4193f8;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-left: 0px;
    width: 5rem;
    height: 2rem;
}

.fade-in {
    opacity: 1;
    transform: translateY(10px);
    transition: opacity 0.2s ease-in, transform 0.1s ease-in;
}

.fade-out {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.2s ease-out, transform 0.1s ease-out;
}

#taskList {
    width: 100%;
}

#taskList li{
    border: 1px solid #ccc;
    
    padding: 10px;
    display: flex;
    align-items: center;
    margin-left: 17%;
    width: 55%;
    justify-content: space-between;
}

#taskList li:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#taskList li:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 0px;
}

#taskList li:not(:first-child):not(:last-child) {
    border-top: 0px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

#boot-icon {
    font-size: 1rem;
    line-height: 1.5;
    border: 0px;
    border-radius: 3px;
    background-color: red;
    margin-left: 20px;
    color: white;
}

#taskList li div {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    max-width: calc(100% - 40px);
}
